.register-card {
    background-color: white;
    border: 4px solid darkslateblue;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
    height: auto;
    padding-bottom: 40px;
}

.register-card h2 {
    font-size: 34px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.register-form, form button {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

div#register-info.row {
  margin-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

.register-form label {
    font-size: 20px;
    color: darkslateblue;
    margin-top: 20px;
}

input {
    width: 100%;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

div#rw_3_widget {
    margin-top: 10px;
    list-style-type: none;
}

label.rw-select-list-label {
    margin-top: 10px;
    margin-bottom: 11px;
} 

li.rw-list-option {
    margin-bottom: 5px;
    list-style: none;
}

input.rw-select-list-input {
  position: absolute;
  right: 50px;
  left: auto;
}

.register-form button {
    width: 100%;
    font-size: 20px;
    height: 40px;
    margin-top: 10px;
    background-color: darkslateblue;
    color: white;
}

.row {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  /* Clearfix */
  .row::before,
  .row::after {
    display: table;
    content: '';
  }
  
  .row::after {
    clear: both;
  }
  
  .col-3, .col-4, .col-6, .col-12 {
    float: left;
  
    /* Gutters:
     * Each column is padded by half-a-gutter on each side,
     *
     * Half a gutter is 10px, 10/960 (context) = 1.041666%
     *
     */
    padding-left: 1.04166666%;
    padding-right: 1.04166666%;
  }

  @media only screen and (max-width: 640px) {
      .register-card, .register-form {
        width: 100%;
        padding-left: 6px;
        padding-right: 6px;
      }

      .register-card h2 {
        font-size: 28px; 
      }

      div#rw_7_widget {
        margin-top: 10px;
      }
  }